[submodule "nacs/presentations/na_cool_paper"]
	path = nacs/presentations/na_cool_paper
	url = git@github.com:nacs-lab/na_cool_paper
[submodule "nacs/presentations/molecular_raman_paper"]
	path = nacs/presentations/molecular_raman_paper
	url = git@github.com:yuyichao/molecular_raman_paper
[submodule "nacs/presentations/thesis"]
	path = nacs/presentations/thesis
	url = git@github.com:yuyichao/grad-thesis
[submodule "euriqa/calculations/phoenix_voltages"]
	path = euriqa/calculations/phoenix_voltages
	url = git@github.com:euriqa-brassboard/phoenix_voltages
[submodule "bec5/presentations/undergrad-thesis"]
	path = bec5/presentations/undergrad-thesis
	url = git@github.com:yuyichao/undergrad-thesis
